.rounded-button {
    -fx-background-radius: 358;
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-max-width: 70;
    -fx-max-height: 70;
}
.color-button{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 360;
}
.text-field {
    -fx-border-color: #ffba00;
    -fx-border-width: 2px;
}


